<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>project</display-name>
	<filter>
		<description>
		</description>
		<display-name>AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>daw.project.controller.AuthFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>LogFilter</display-name>
		<filter-name>LogFilter</filter-name>
		<filter-class>daw.project.controller.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>daw.project.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>daw.project.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductListServlet</display-name>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>daw.project.controller.ProductListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateProductServlet</display-name>
		<servlet-name>CreateProductServlet</servlet-name>
		<servlet-class>daw.project.controller.CreateProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertProductServlet</display-name>
		<servlet-name>InsertProductServlet</servlet-name>
		<servlet-class>daw.project.controller.InsertProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteProductServlet</display-name>
		<servlet-name>DeleteProductServlet</servlet-name>
		<servlet-class>daw.project.controller.DeleteProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditProductServlet</display-name>
		<servlet-name>EditProductServlet</servlet-name>
		<servlet-class>daw.project.controller.EditProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProductServlet</display-name>
		<servlet-name>UpdateProductServlet</servlet-name>
		<servlet-class>daw.project.controller.UpdateProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/ProductListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateProductServlet</servlet-name>
		<url-pattern>/CreateProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertProductServlet</servlet-name>
		<url-pattern>/InsertProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProductServlet</servlet-name>
		<url-pattern>/DeleteProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProductServlet</servlet-name>
		<url-pattern>/EditProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProductServlet</servlet-name>
		<url-pattern>/UpdateProductServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
